* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
}

body {
    background-color: $tan;
}

a {
    text-decoration: none;
    color: $tan;
    
    &:hover {
        color: $lightBrown;
    }
}

ul {
    list-style: none;
}

.padding {

    &__a {
        &L {
            padding: 2rem;
        }

        &M {
            padding: 1rem;
        }

        &S {
            padding: 0.5rem;
        }
    }

    &__t {
        padding-top: 2rem;
    }

    &__b {
        padding-bottom: 2rem;
    }

    &__r {
        padding-right: 2rem;
    }

    &__l {
        padding-left: 2rem;
    }

    &__s {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__u {

        &L {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        &M {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &S {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }
}

.container {
    max-width: 150rem;
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

.hide-for-tablet {
    @include breakpoint-up(medium) {
        display: none;
    }
}